$background_main: #dae0e6;


$message_bg_color:  white;
$message_border_color: #BDBDBD;
$col_likes_bg_color: rgb(212, 212, 212);
$like_up_select_like_up_not_hover_text_color: lime;
$like_down_select_like_down_not_hover_text_color: red;
$nb_likes_text_color: black;
$author_text_color: slateblue;
$trait_border_right_color: #f38b8b;
$submitbtn_bg_color: $author_text_color;
$response_text_text_color: $author_text_color;


$background_menu: $message_bg_color;
$menu_profil_bg_color: #BDBDBD;
$menu_profil_ligne_border: cornflowerblue;
$btn_border: rgba(55, 118, 255, 0.836);
$btn_box_shadow: rgb(83, 81, 81);
$btn_bg_color: white;
$btn_font_color: black;
$btn_hover_border: $btn_border;
$btn_hover_bg_color: $author_text_color;
$btn_hover_text_color: white;

$quick_profile_bg_color: $background_menu;
$icon_settings_text_color: deepskyblue;
$icon_settings_hover_text_color: red;
$profile_details_border_color: #222;
$profile_details_bg_color: #dae0e6;
$btn_delete_border: rgba(245, 245, 245, 0.685);
$btn_delete_active_border: rgba(143, 143, 143, 0.993);
$btn_delete_active_bg_color: royalblue;
$btn_delete_active_box_shadow: rgb(83, 81, 81);
$btn_delete_active_text_color: white;
$delete_box_border: red;
$confirm_delete_bg_color: $profile_details_bg_color;
$confirm_delete_border_color: #222;
$btn_oui_btn_non_border: rgba(245, 245, 245, 0.685);
$btn_oui_bg_color: forestgreen;
$btn_oui_hover_bg_color: rgb(0, 201, 0);
$btn_oui_hover_box_shadow: rgb(83, 81, 81);
$btn_non_bg_color: rgb(163, 1, 33);
$btn_non_hover_bg_color: rgb(238, 4, 4);
$btn_non_hover_box_shadow: $btn_oui_hover_box_shadow;

$users_liste_bg_color: #26853e;
$li_users_liste_bg_color: rgb(13, 228, 77);
$li_users_liste_text_color: black;
$li_users_liste_hover_bg_color: rgb(2, 36, 46);
$li_users_liste_hover_text_color: white;
$users_details_bg_color: lightskyblue;
$users_article_users_reply_bg_color: rgb(130, 238, 184);

// tailles polices
$font_size_normal: 18px;

// dimenssions
$menu_height: 80px;
$width_message: 500px;
