$background_main: #dae0e6;

$background_menu: white;
$menu_profil-bg-color: #BDBDBD;
$menu_profil_ligne-border: cornflowerblue;
$btn_border: rgba(55, 118, 255, 0.836);
$btn_box_shadow: rgb(83, 81, 81);
$btn_bg_color: white;
$btn_hover_border: $btn_border;
$btn_hover_bg_color: blue;
$btn_hover_text_color: white;

$connexion-inscription-border: rgb(114, 114, 114);
$connexion-inscription-bg-color: rgb(172, 172, 172);

$message-bg-color: $background_menu;
$message-border-color: #BDBDBD;
$col_likes-bg-color: rgb(212, 212, 212);
$like-up-select-like-up-not-hover-text-color: lime;
$like-down-select-like-down-not-hover-text-color: red;
$nb-likes-text-color: black;
$author-text-color: slateblue;
$trait-border-right-color: #f38b8b;
$submitbtn-bg-color: salmon;
$response_text-text-color: slateblue;

$quick_profile-bg-color: $background_menu;
$icon_settings-text-color: deepskyblue;
$icon_settings-hover-text-color: red;
$profile_details-border-color: #222;
$profile_details-bg-color: #dae0e6;
$btn_delete-border: rgba(245, 245, 245, 0.685);
$btn_delete_active-border: rgba(143, 143, 143, 0.993);
$btn_delete_active-bg-color: royalblue;
$btn_delete_active-box-shadow: rgb(83, 81, 81);
$btn_delete_active-text-color: white;
$delete_box-border: red;
$confirm_delete-bg-color: $profile_details-bg-color;
$confirm_delete-border-color: #222;
$btn_oui-btn_non-border: rgba(245, 245, 245, 0.685);
$btn_oui-bg-color: forestgreen;
$btn_oui-hover-bg-color: rgb(0, 201, 0);
$btn_oui-hover-box-shadow: rgb(83, 81, 81);
$btn_non-bg-color: rgb(163, 1, 33);
$btn_non-hover-bg-color: rgb(238, 4, 4);
$btn_non-hover-box-shadow: $btn_oui-hover-box-shadow;

$users-liste-bg-color: #26853e;
$li-users-liste-bg-color: rgb(13, 228, 77);
$li-users-liste-text-color: black;
$li-users-liste-hover-bg-color: rgb(2, 36, 46);
$li-users-liste-hover-text-color: white;
$users-details-bg-color: lightskyblue;
$users-article-users-reply-bg-color: rgb(130, 238, 184);

