/* page d'accueil -----------------------------------------------------------------------------------------*/
.accueil {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    h1 {
       font-size: 50px;
       font-family: 'nevisbold', 'Courier New', Courier, monospace;
       margin-top: 0;
    }
    h2 {
        font-size: $font_size_normal;
        margin-top: 10px;
        text-align: center;
    }
    @media screen and (min-width: $menu_breackpoint_pc ) {
        padding-top: 150px;
        h1 {
            font-size: 70px;
            margin-top: 50px;
        }
    }
}
.accueil_logo {
    width: 100px;
}