/* page d'accueil -----------------------------------------------------------------------------------------*/
.accueil {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.accueil_logo {
    width: 95vh;
}