
/* - admin ----*/
.bloc-users-liste {
    justify-content: center;
    margin: auto;
    display: flex;
    @media screen and (min-width: 820px ) {
        margin-left: auto;
        margin-right: 0;
        margin-top: 15px;
    }
}
.users-liste {
    margin: 10px auto;
    background-color: $users_liste_bg_color;
    border: 2px solid $users_liste_border_color;
    border-radius: 20px;
    align-self: flex-start;
}
.li-users-liste {
    padding:  15px;
    background-color: $li_users_liste_bg_color;
    border-radius: 10px;
    color: $li_users_liste_text_color;
    border: 2px solid $li_users_liste_border_color;
    text-align: center;
    list-style: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    &:hover {
        background-color: $li_users_liste_hover_bg_color;
        color: $li_users_liste_hover_text_color;
        box-shadow: 7px 7px 5px $li_users_liste_shadow;
        font-weight: 600;
        cursor:pointer;
    }
}
#bloc-users-profile {
    margin: 15px;
    @media screen and (min-width: 820px ) {
        margin-right: auto;
    }
}
.users-main {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 820px ) {
        flex-direction: row;
    }

}
.users-details{
    background-color: $users_details_bg_color;
    border: 2px solid $users_liste_border_color;
    border-radius: 20px;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    width: $width_message_mobile;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    h2 {
        font-size: 21px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    li {
        margin: 5px;
    }
    @media screen and (min-width: 600px ) {
        width: $width_message;
        margin: 20px;
        padding: 20px;
    }
}

.users-article, .users-reply {
    padding: 10px 0;
    background-color: $users_article_users_reply_bg_color;
    border: 2px solid $users_liste_border_color;
    margin-top: 15px;
    .content-article {
        margin: 10px;
    }
}

