
/* - admin ----*/
.bloc-users-liste {
    justify-content: center;
    margin-left: 50px;
    display: flex;
}
.users-liste {
    margin: 10px auto;
    background-color: $users-liste-bg-color;
    border: 5px solid $users-liste-bg-color;
    border-radius: 20px;
    align-self: flex-start;
}
.li-users-liste {
    padding:  15px;
    background-color: $li-users-liste-bg-color;
    border-radius: 10px;
    color: $li-users-liste-text-color;
    text-align: center;
    list-style: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
    font-size: 18px;
}
.li-users-liste:hover {
    background-color: $li-users-liste-hover-bg-color;
    color: $li-users-liste-hover-text-color;
    font-weight: 600;
    cursor:pointer;
}
#bloc-users-profile {
    margin: 15px;
}
.users-main {
    display: flex;
    margin-top: 25px;
}
.users-details {
    font-size: 18px;
    background-color: $users-details-bg-color;
    margin: 20px;
    padding: 20px;
}
.users-messages {
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    background-color: $users-details-bg-color;
}
.users-comments {
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    background-color: $users-details-bg-color;
}
.users-article, .users-reply {
    padding: 10px;
    background-color: $users-article-users-reply-bg-color;
    margin-top: 15px;
}

