

.back-inscription, .back-login, .back {
    background-image: url('../images/icon.svg');
    background-repeat:no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: contain;
    margin: 0 auto; 
    width: 100vh;
    height: calc(100% - #{$menu_height});
    position: relative;
    display: flex;
    flex-direction: column;
}
.back {
    padding-top: 5px;
}
.back-login {
    display: flex;
}
.form-register, .form-login {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    margin-top: calc(50% - #{$menu_height} - 100px);
    width: 255px;
}
#email, #username, #password {
    width: 250px;
}

#connexion, #inscription {
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid $btn_border;
    text-align: center;
    background-color: $btn_bg_color;
    padding: 5px;
    box-shadow: 7px 7px 5px $btn_box_shadow;
    font-size: $font_size_normal;
    font-weight: 600;
    &:hover, &:focus {
        background-color: $btn_hover_bg_color;
        border-color: $btn_hover_border;
        color: $btn_hover_text_color;
        cursor:pointer;
    }
}
.confirm-inscription {
    text-align: center;
    margin-top: 115px;
    font-size: 30px;
}
