
/* pour les messages ----------------------------------------------------------------------------------- */
.message {
    background-color: white;
    border: 2px solid #BDBDBD;
    width: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.col_likes {
    display: flex;
    flex-direction: column;
    width: 35px;
    background-color: rgb(212, 212, 212);
    padding-top: 10px;
    padding-bottom: 10px;
}
.like-up-not, .like-down-not {
    font-size: 30px;
    text-align: center;
}
.like-up-select, .like-up-not:hover {
    color: lime;
    cursor:pointer;
}
.like-down-select, .like-down-not:hover {
    color: red;
    cursor:pointer;
}
.nb-likes {
    color: black;
    width: 35px;
    text-align: center;
}
.corp {
    margin: 0 5px;
    max-width: 455px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.author {
    /**/
    color: gray;
    margin-bottom: 10px;
}
.title-article {
    /**/
    font-size: 25px;
    margin-bottom: 5px;
}
.content-article {
    font-size: 20px;
    cursor:pointer;
}
.bloc-commentaire{
    width: 100%;
}
.commentaire {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.like-com {
    font-size: 15px;
}
.com-likes {
    display: flex;
    flex-direction: column;
    width: 20px;
}

.com-content {
    margin: 10px 10px;
}
.trait {
    border-right: 2px solid #f38b8b;
    display: block;
    height: 100%;
    width: 50%;
}


.title_line {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.title_line label{
    margin-right: 10px;
}
#editor {
    margin: 15px auto;
}
#length-title {
    margin-left: 10px;
}
#submitbtn {
    background-color: salmon;
    padding: 5px;
}
.response_text {
    color: slateblue;
    font-weight: 600;
}
.response_text:hover {
    cursor:pointer;
}

#comment_noParent {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


