
/* profile  ----------------------------------------------------------------------------------------*/
#profile {
    display: flex;
    justify-content: center;
}
.liste_message {
    margin: 10px;
}
#quick_profile {
    width: 20vw;
    background-color: white;
    height: 5vw;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
}
#mini_username {
    text-align: left;
}
.icon_settings {
    color: deepskyblue;
}
.icon_settings:hover {
    color: red;
}

/* profile detaillé -------------------------------------------------------------------------------------*/
.profile_details {
    border: 2px solid #222;
    width: 300px;
    padding: 20px;
    margin: 35vh auto 0;
    background-color: #dae0e6;
    border-radius: 10px;
}
.profile_details div {
    margin: 10px;
}
.btn_delete {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgba(245, 245, 245, 0.685);
    cursor:pointer;
    text-align: center;
    margin: auto;
}
.btn_delete_active {
    border: 2px solid rgba(143, 143, 143, 0.993);
    background-color: royalblue;
    box-shadow: 7px 7px 5px rgb(83, 81, 81);
    color: white;
}

.delete_box {

    border: 2px solid red;
    border-radius: 10px;
}
#supprimer {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor:pointer;
}
.verif_del {
    display: flex;
    align-content: center;
}


/* confirm delete account ------------------------------------------------------------------*/
.confirm_delete {
    width: 520px;
    margin: 35vh auto 0;
    justify-content: center;
    background-color: #dae0e6;
    padding: 10px;
    border: 2px solid #222;
    border-radius: 10px;
}

.choice {
    display: flex;
    margin-top: 20px;
}
#btn_oui, #btn_non {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgba(245, 245, 245, 0.685);
    width: 50px;
    text-align: center;
    margin: auto;
}
#btn_oui {
    background-color: forestgreen;
}
#btn_oui:hover {
    background-color: rgb(0, 201, 0);
    box-shadow: 7px 7px 5px rgb(83, 81, 81);
}
#btn_non {
    background-color: rgb(163, 1, 33);
}
#btn_non:hover {
    background-color: rgb(238, 4, 4);
    box-shadow: 7px 7px 5px rgb(83, 81, 81);
}



