

/* profile  ----------------------------------------------------------------------------------------*/
#profile {
    display: flex;
    justify-content: center;
}
.liste_message {
    margin: 10px;
}
#quick_profile {
    width: 20vw;
    background-color: $quick_profile_bg_color;
    border: 2px solid $quick_profile_border;
    border-radius: 20px;
    height: fit-content;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
}
#mini_username {
    text-align: left;
}
.icon_settings {
    color: $icon_settings_text_color;
    transition: transform 2s;
    &:hover {
        color: $icon_settings_hover_text_color;
        transform: scale(1.75) rotate(180deg);
    }
}

/* profile detaillé -------------------------------------------------------------------------------------*/
.profile_details {
    border: 2px solid $profile_details_border_color;
    width: 300px;
    padding: 20px;
    margin: 35vh auto 0;
    background-color: $profile_details_bg_color;
    border-radius: 10px;
}
.profile_details div {
    margin: 10px;
}
.btn_delete {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid $btn_delete_border;
    cursor:pointer;
    text-align: center;
    margin: auto;
}
.btn_delete_active {
    border: 2px solid $btn_delete_active_border;
    background-color: $btn_delete_active_bg_color;
    box-shadow: 7px 7px 5px $btn_delete_active_box_shadow;
    color: $btn_delete_active_text_color;
}

.delete_box {

    border: 2px solid $delete_box_border;
    border-radius: 10px;
}
#supprimer {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor:pointer;
}
.verif_del {
    display: flex;
    align-content: center;
}


/* confirm delete account ------------------------------------------------------------------*/
.confirm_delete {
    width: 520px;
    margin: 35vh auto 0;
    justify-content: center;
    background-color: $confirm_delete_bg_color;
    padding: 10px;
    border: 2px solid $confirm_delete_border_color;
    border-radius: 10px;
}

.choice {
    display: flex;
    margin-top: 20px;
}
#btn_oui, #btn_non {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid $btn_oui_btn_non_border;
    width: 50px;
    text-align: center;
    margin: auto;
}
#btn_oui {
    background-color: $btn_oui_bg_color;
}
#btn_oui:hover {
    background-color: $btn_oui_hover_bg_color;
    box-shadow: 7px 7px 5px $btn_oui_hover_box_shadow;
}
#btn_non {
    background-color: $btn_non_bg_color;
}
#btn_non:hover {
    background-color: $btn_non_hover_bg_color;
    box-shadow: 7px 7px 5px $btn_non_hover_box_shadow;
}



