

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: $menu_height - 20px;
    background-color: $background_menu;
    padding: 10px;
    border-bottom: 1px solid $menu_profil_ligne_border;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
        padding: 10px;
        align-self: center;
    }
}
.logo-entreprise {
    height: 35px;
}

/* menu dynamique ----------------------------------------------------------------*/
#menu_profil {
    display: flex;
    flex-direction: column;
    z-index: 6;
    float: right;
    background-color: $menu_profil_bg_color;
    border: 2px solid  $menu_profil_ligne_border;
    border-radius: 20px;
    box-shadow: 7px 7px 5px $btn_box_shadow;
    top: 60px;
    right: 10px;
    position: absolute;
    padding: 5px;
}
.menu_profil_ligne {
    padding: 10px;
    border: 2px solid  $menu_profil_ligne_border;
    box-shadow: 7px 7px 5px $btn_box_shadow;
    text-align: center;
    margin: 5px 0;
    width: 110px;
    border-radius: 20px;
    &:hover {
        background-color: $btn_hover_bg_color;
        color: $btn_hover_text_color;
        a:visited {
            color: $btn_hover_text_color;
        }
    }
    a:visited {
        color: $btn_font_color;
    }
}
#link_profil {
    padding: 10px;
    text-align: center;
    cursor:pointer;

}



