

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: $menu_height - 20px;
    background-color: $background_menu;
    padding: 10px;
    border-bottom: 1px solid $menu_profil_ligne_border;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu li {
    padding: 10px;
    align-self: center;
}
.logo-entreprise {
    height: 20px;
}

/* menu dynamique ----------------------------------------------------------------*/
#menu_profil {
    display: flex;
    flex-direction: column;
    z-index: 6;
    float: right;
    background-color: $menu_profil_bg_color;
    top: 60px;
    right: 10px;
    position: absolute;
}
.menu_profil_ligne {
    padding: 10px;
    border: 1px solid  $menu_profil_ligne_border;
    text-align: center;
    width: 110px;
}
#link_profil {
    padding: 10px;
    text-align: center;
    cursor:pointer;

}



