
body {
    background-color: #dae0e6;
    height: 100vh;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}
.invalide {
    border-color: red;
}

.offset-top {
    height: 60px;
}

/* Loading ----------------------------------------------------------------------------------------------*/
#loading {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}



