body {
    background-color: $background_main;
    height: 100vh;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

.invalide {
    border-color: red;
}

.offset-top {
    height: $menu_height_mobile;
    @media screen and (min-width: 570px ) {
        height: $menu_height;
    }
}


/* Loading ----------------------------------------------------------------------------------------------*/

#loading {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}

.back {
    background-image: url('../images/icon.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: contain;
    margin: 0 auto;
    padding-top: 5px;
    width: 100vh;
    min-height: calc(100% - #{$menu_height});
    position: relative;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    font-size: $font_size_normal;
}

#btn_new_post,
.btn {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid $btn_border;
    box-shadow: 7px 7px 5px $btn_box_shadow;
    background-color: $btn_bg_color;
    text-align: center;
    margin: auto;
    color: $btn_font_color;
    font-size: $font_size_normal;
    &:hover,
    &:focus {
        padding: 10px;
        border-radius: 20px;
        border: 2px solid $btn_hover_border;
        background-color: $btn_hover_bg_color;
        color: $btn_hover_text_color;
        text-align: center;
        margin: auto;
        cursor: pointer;
    }
    &:disabled {
        &:hover {
            background-color: red;
        }
    }
}

.bold {
    font-weight: 600;
}

.back_to_top {
    //will-change: transform;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    border: 2px solid $back_to_top_border_color;
    color: $back_to_top_color;
    background-color: $back_to_top_bgcolor;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: -100px;
    z-index: 100;
    transition: opacity .3s ease-in-out 0, bottom .3s ease-in-out .5s;
    &.show {
        bottom: 20px;
        &:hover {
            color: $back_to_top_hover_color;
            border-color: $back_to_top_hover_border_color;
            background-color: $back_to_top_hover_bgcolor;
            box-shadow: 7px 7px 5px $btn_box_shadow;
            cursor: pointer;
        }
    }
}